.git
.github
.pytest_cache
**/__pycache__
**/*.pyc
**/.env
**/.env.*
!**/.env.example
frontend/node_modules
frontend/.next
frontend/out
dependency-install-backup
data/*.sqlite
tests/*
!tests/fixtures/
tests/fixtures/*
!tests/fixtures/price_conditions.json
docs
